@model List<City>
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
	<div class="city-title">
		<h3>Selected cities</h3>
	</div>
</div>

<div class="row">
		<div class="panel-body cities-panel">
		@foreach (var c in Model)
		{
			<div class="row">
				<div>
					<h3>@c.Id</h3>
				</div>
				<div>
					<h3>@Html.ActionLink(c.Name, "Weather", "Forecast", new { city = c.Name }, null)</h3>
				</div>
				<div>
					<h3>@c.Country</h3>
				</div>
				<div>
					<div class="btn">@Html.ActionLink("Remove", "Delete", "SelectedCities", new { cityId = c.Id }, null)</div>
				</div>
			</div>
			<hr />
		}
			<div class="row">
				@using (Html.BeginForm("Add", "SelectedCities"))
				{
					<div class="row">
						<div>
							<input name="cityName" type="text" class="form-control" placeholder="City name">
						</div>
						<div>
							<button class="btn" type="submit">Add</button>
						</div>
					</div>
				}
			</div>
		</div>
</div>


