<div class="row">
	<div class="city-title">
		<h3>{{entry.City.Name}}, {{entry.City.Country}}</h3>
	</div>
</div>
<div class="row">
	<div class="panel">
		<div class="panel-body history-panel">
				<div *ngFor="let f of entry.Forecasts" class="row">
					<div>
						<h4>{{f.ForecastTime}}</h4>
					</div>
					<div>
						<h4>{{f.WeatherState}}, {{f.WeatherDescription}}</h4>
					</div>
					<div>
						<h4>{{f.MinTemperature}} C - {{f.MaxTemperature}} C</h4>
					</div>
				</div>
		</div>
	</div>
</div>


