@model Exception

@{
	ViewData["Title"] = "Error";
}

<div class="row">
	<div class="panel">
		<div class="panel-header">
			An error occurred while processing your request
		</div>
		<div class="panel-body error-panel">
			<p>
				@Model.Message
			</p>
		</div>
	</div>
</div>
